.home-container {
  display: flex;
  justify-content: center;
  height: 65vh;
  align-items: center;
  background-color: white;
}

.home-form {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
  width: 400px;
}

.home-form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.home-form label {
  display: block;
  margin-top: 1rem;
}

.home-form input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.home-form button {
  margin-top: 1.5rem;
  width: 100%;
  padding: 0.7rem;
  background-color: #ff385c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}